services:
  db:
    image: mysql:8.4
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: compose_web
      MYSQL_USER: compose_web
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: rootsecret
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -ucompose_web -psecret -h localhost"]
      interval: 5s
      timeout: 3s
      retries: 5

  web:
    build: .
    working_dir: /app
    command: ["php", "-S", "0.0.0.0:8080", "-t", "public"]
    volumes:
      - ./:/app
      - ../phpcompose:/phpcompose
    ports:
      - "8001:8080"
    environment:
      DB_URL: "mysql://compose_web:secret@db:3306/compose_web"
    depends_on:
      db:
        condition: service_healthy

  adminer:
    image: adminer
    restart: always
    ports:
      - 8002:8080

volumes:
  db_data:
